*.dll
*.pdb
*.nupkg
*.nuspec
*.user
*.cache
*.xml
*.html
BirdFeed.Core/obj/Debug/BirdFeed.Core.csproj.FileListAbsolute.txt
BirdFeed.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BirdFeed.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BirdFeed.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BirdFeed.Core/obj/Debug/Twitter.Core.csproj.FileListAbsolute.txt
BirdFeed.Core/obj/Release/BirdFeed.Core.csproj.FileListAbsolute.txt
BirdFeed.Core/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BirdFeed.Core/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BirdFeed.Core/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BirdFeed.Sample.Mvc/obj/Debug/BirdFeed.Sample.Mvc.csproj.FileListAbsolute.txt
BirdFeed.Sample.Mvc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BirdFeed.Sample.Mvc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BirdFeed.Sample.Mvc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BirdFeed.Sample.Mvc/obj/Debug/Twitter.Sample.Mvc.csproj.FileListAbsolute.txt
BirdFeed.Sample.Mvc/obj/Release/BirdFeed.Sample.Mvc.csproj.FileListAbsolute.txt
BirdFeed.Sample.Mvc/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BirdFeed.Sample.Mvc/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BirdFeed.Sample.Mvc/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BirdFeed.Sample.Mvc/Web.Debug.config
BirdFeed.Sample.Mvc/Web.Release.config
BirdFeed.UnitTests/obj/Debug/BirdFeed.UnitTests.csproj.FileListAbsolute.txt
BirdFeed.UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BirdFeed.UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BirdFeed.UnitTests/obj/Debug/Twitter.UnitTests.csproj.FileListAbsolute.txt
BirdFeed.UnitTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BirdFeed.UnitTests/obj/Release/BirdFeed.UnitTests.csproj.FileListAbsolute.txt
BirdFeed.UnitTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BirdFeed.UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BirdFeed.UnitTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
packages/Newtonsoft.Json.6.0.5/tools/install.ps1